.checkbox-wrapper {
  font-size: 14px;
  line-height: 1.5;
}

.checkbox {
  position: relative;
  line-height: 1;
  font-size: 14px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  outline: none;
  display: inline-block;
}

.checkbox-inner {
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid #d9d9dd;
}
