/* input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background-color: #9d9d9d;
  border-radius: 2px;
  margin-right: 0.2em;
  line-height: 0.65;
  text-indent: 0.15em;
} */

/* input[type="checkbox"]:checked + label::before {
  content: "\2713";
  background: yellowgreen;
} */

input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.checkbox {
  position: relative;
  top: 0.2em;
}

.checkbox-inner {
  display: inline-block;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
}
