*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 600px;
  padding: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
}

.progress {
  display: flex;
  align-items: center;
}

.progress-bar {
  flex-grow: 1;
}

.progress-outer {
  flex-grow: 1;
  background-color: #0000000a;
  border-radius: 100px;
}

.progress-inner {
  width: 30%;
  min-height: 6px;
  border-radius: 100px;
  position: relative;
  background-color: #1890ff;
  text-align: right;
}

.progress-text {
  margin-left: 8px;
  min-width: 50px;
}

.progress-bg::before {
  position: absolute;
  inset: 0;
  background: #fff;
  border-radius: 10px;
  opacity: 0;
  animation: progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  content: "";
}

.progress-text-inner {
  color: #fff;
  padding: 0 8px;
}

@keyframes progress-active {
  0% {
    transform: translateX(-100%) scaleX(0);
    opacity: 0.1;
  }
  20% {
    transform: translateX(-100%) scaleX(0);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0) scaleX(1);
    opacity: 0;
  }
}
