:root {
  font-size: 16px;
}
:root {
  /* 产品色 */
  --color-primary: #2177b8;
  --color-hover: #40a9ff;
  --color-click: #096dd9;
  --color-active: #1890ff;

  /* 功能色 */
  --color-success: #67c23a;
  --color-warning: #f7b924;
  --color-danger: #d9534f;

  /* 中性色 */

  /* 文本色 */
  --text-color: rgba(0, 0, 0, 0.65);
  --text-color-secondary: rgba(0, 0, 0, 0.45);

  /* border */
  --border-color: #d9d9d9;
  --border: 1px solid;
}

.btn {
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  border-radius: 2px;
  padding: 8px 16px;
  background-color: #fff;
  transition: all 0.4s;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  color: var(--color-hover);
  border-color: var(--color-hover);
}

.btn:focus {
  color: var(--color-active);
  border-color: var(--color-active);
}

.btn.btn-primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn.btn-success {
  background-color: var(--color-success);
  color: #fff;
}

.btn-danger {
  background-color: var(--color-danger);
  color: #fff;
}
